body {
    background-color: pink;
    margin: 0;
}

#zielony {
    width: 100%;
    height: 1500px;
    background-color: darkgreen;

}

#czerwony {
    position: fixed;
    top: 25px;
    left: 40px;
    width: 100%;
    height: 50px;
    background-color: red;
}

#niebieski {
    width: 100%;
    height: 50px;
    background-color: blue;
}